

.g-signin2 {
  margin-right: 30px;
  float: right;
}

.data {
  float: right;
  display: none;
}

.data > * {
  margin-right: 13px;
  
}

#pic{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#name{
  font-size: 0.9em;
  line-height: 30px;
  margin-bottom: 0;
}

.signout{
  font-size: 0.7rem !important;
  line-height: 1.5 !important;
}

table.list-group-header > tr{
  display: flex;
  flex-direction: row;
}

.flex-chart{
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}


.table-header{
  padding-right: 40px !important; 
}

.table{ 
  white-space: nowrap;
}

th:last-child{
  padding-right: 75px !important;
}

.table .header{
  padding-right: 50px !important;
}

.vitamin-score-table-body > tr > th{
  padding-right: 2.75rem !important;
}
